@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdf7f0;
  --foreground: #171717;
  --primary: #6a0dad;
  --primary-hover: #520987;
  --secondary: #d4af37;
  --secondary-hover: #b8962c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
